
<h1>For Uncle</h1>
<p>Это главная страница!
</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
<%= link_to "Список клиентов", clients_path, class: "btn btn-large btn-primary" %>
<%= link_to "Список продавцов", sellers_path, class: "btn btn-large btn-primary" %>

