.row
  %section.pull-right
    .well
      = render 'sessions/new'
  %section
    %header
      %h1 Добро пожаловать!
    %section
      %article
        %h3 Вы можете посмотреть #{link_to "список клиентов", clients_path}, так же можете войти как продавец или администратор.
        %p Чтобы зайти как администратор введите 

/ = link_to "Список клиентов", clients_path, class: "btn btn-large btn-primary" 
/ = link_to "Список продавцов", sellers_path, class: "btn btn-large btn-primary" 

